@use '../../helpers/index.scss' as *;
@import '../../assets/Font/Font.css';

button{
    background-color: var(--color-black);
    background-color: #111a2e;
    color: var(--color-white);
    border: none;
    border-radius: rem(5);
    height: 40px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}